span.error-text {
  position: absolute;
  bottom: 0;
  left: 10px;
  color: red;
  font-size: 12px;

  &:before{
    background-image: url(../assets/x.png);
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
    margin-right: 3px;
  }
}

.fixed-bottom-container {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px 5px;
  color: #373e44;
  border-top: 1px solid #e5e6e6;
  height: 118px;
  max-width: 1200px;

  .form-container {
    margin-left: 59px;
    max-width: 100%;
    border: 1px solid #d4d6d7;
    border-radius: 4px;
    position: relative;

    .fields-container{
      background-color: #fff;
      border-radius: 4px 4px;
      cursor: text;
      margin-right: 90px;
    }
  }

  .text-field-container{
    width: 100%;
    padding: 0 10px;
    display: inline-block;
    min-width: 190px;
    position: relative;
    box-sizing: border-box;

    input[type=text] {
      color: #373e44;
      width: 100%;
      border: none;
      box-sizing: border-box;
      font-size: 15px;
      padding: 15px 0;
      display: inline-block;
      min-height: 24px;
      font-family: Open Sans,Helvetica,Arial,sans-serif;
      line-height: 18px;
      outline: none;
      transition: background-color .2s ease,border-color .2s ease,box-shadow .2s ease,color .2s ease,opacity .2s ease;
      white-space: pre-line;
      word-wrap: break-word;
      cursor: text;
      height: 100%;
      overflow: hidden;
    }

    &.username input[type=text]{
      border-bottom: 1px solid #e5e6e6;
    }
  }

  .send-container {
    background-color: #f0f1f1;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;

    .send-button{
      text-transform: uppercase;
      line-height: 34px;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      border: 0;
      border-radius: 4px;
      cursor: pointer;
      font-family: Open Sans,Helvetica,Arial,sans-serif;
      font-size: 13px;
      outline: none;
      padding: 0 15px;
      text-align: center;
      transition: background-color .2s ease,border-color .2s ease,opacity .2s ease;
      white-space: nowrap;

      background-color: #3399ff;
      &[disabled]{
        background-color: rgba(51, 153, 255, 0.5) !important;
        cursor: default !important;
        pointer-events: none;
      }
    }
  }

}

